body {
    margin: 0;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input, button {
    width: 80%;
    padding: 12px;
    margin: 10px auto;
    display: block;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

button {
    background: #e9b400;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.topbar {
    background: #222;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
